.films-section {
}
.films {
  // .films__list

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  // .films__item

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:nth-child(-n + 2) {
      margin-bottom: 32px;
    }
  }

  // .films__card

  &__card {
  }

  // .films__img-container

  &__img-container {
    margin: 0px;
    width: 392px;
    height: 574px;
    margin-bottom: 12px;
  }

  // .films__img

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.info {
  &__title,
  &__subtitle {
    font-weight: 500;
    font-size: 20px;
    width: 392px;
    color: $black-color;
  }
  &__subtitle {
    color: $orange-color;
  }
}
